<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
    <link rel='stylesheet' href='bootstrap/dist/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"

  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i>Home</a>
              
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/AboutPage" >About </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ContactPage">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ProjectsPage">Projects</a>
            </li>
          </ul>
          <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
  </nav>

  <h1>Tell me how I can help you.</h1>
    <form action=mailto:email@email.com ?subject=Signup Form method="post"
    enctype="text/plain" name="form">
    <p>
        <label for="name">Name</label>
        <input type="text" name="name" size="32" required>
    </p>
    <p>
        <label for="email">Email</label>
        <input name="email" type="email" size="40" required>
    </p>

    <p>
        <label for="comments">What do you want to chat about?</label><br>
        <textarea name="comments" cols="60" rows="6"></textarea>
    </p>

    <p>
        <input type="submit" value="Click here to submit the form"/>
    </p>

    </form>
    




  </body>


  <footer>
    <h3>Email: Jonathans.email72@gmail.com</h3>
        <h4> (c) 2023 created by Jonathan Ananthakrishnan. Copyright rights reserved.</h4>
        
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="Content\HomePage.html"><i class="fa-solid fa-house"></i>Home</a>
              
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/100874653/INFR3120_Assignment2">GitHub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/jonathan-ananthakrishnan-400a0b267/">LinkedIn</a>
            </li>
            
          </ul>
          <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
  </nav>
  </footer>
</html>



